@import "global.css";

#photo {
  align-content: baseline;
  justify-content: center;
  display: flex;
  padding-top: 3em;
}

#photo > pre {
  font-family: monospace;
  font-size: 0.5em;
}

#desc {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

#desc > p {
  max-width: 60%;
}
