@import "colorscheme.css";

 @font-face {
  font-family: DaddyTimeMono;
  src: url('../fonts/DaddyTimeMono.otf');
  font-size: 0.5em;
} 

html {
  height: 100vh
}

body {
  background-color: var(--base00);
  padding: 0;
  margin: 0;
  height: 100%
}

main {
  margin: 0 20% 0 20%;
  background-color: var(--base04);
  min-height: 100%;
  @media screen and (max-width: 600px) {
    margin: 0 0 0 0; 
  }
}

main > ul {
  margin: 0 0 0 0;
}

#ascii-title {
  display: flex;
  justify-content: center;
  align-content: center;
}

#ascii-title > pre {
  color: var(--base02);
  font-family: DaddyTimeMono;
  font-size: 0.6em;
  max-width: 100%;
  margin: 0;
  padding: 0;
  flex: initial;
  max-width: fit-content;
  margin-top: 4em;
}


